In [1]:
import QuantLib as ql

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
today = ql.Date(9, ql.March, 2016)
ql.Settings.instance().evaluationDate = today
def plot_curve(*curves):
    dates = [today+ql.Period(i, ql.Weeks) for i in range(0, 52*5)]
    for (c, style) in curves:
        valid_dates = [d for d in dates if d>= c.referenceDate()]
        rates = [c.forwardRate(d, d+1, ql.Actual360(), ql.Simple).rate() for d in valid_dates]
        plt.plot(rates, style)

In [8]:
helpers = [ql.SwapRateHelper(ql.QuoteHandle(ql.SimpleQuote(rate/100.0)), ql.Period(*tenor), ql.TARGET(), ql.Annual, ql.Unadjusted, ql.Thirty360(), ql.Euribor6M()) for\
           tenor, rate in [((6, ql.Months), 0.201), ((2, ql.Years), 0.258), ((5, ql.Years), 0.464), ((10, ql.Years), 1.151), ((15, ql.Years), 1.588)]]
curve = ql.PiecewiseLinearZero(0, ql.TARGET(), helpers, ql.Actual360())

In [9]:
plot_curve((curve, '-'))

In [10]:
future_reference = today + ql.Period(1, ql.Years)
implied_curve = ql.ImpliedTermStructure(ql.YieldTermStructureHandle(curve), future_reference)
plot_curve((implied_curve, '-'))

In [11]:
plot_curve((curve, '-'), (implied_curve, 'o'))

In [12]:
dates = [future_reference + ql.Period(i, ql.Years) for i in range(6)]
rates_1 = [curve.forwardRate(future_reference, d, ql.Actual360(), ql.Continuous).rate() for d in dates]
rates_2 = [implied_curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
pd.DataFrame(list(zip(dates, rates_1, rates_2)), columns=('Maturity', 'Original forward rate', 'Implied zero rate'), index=['']*6)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Maturity</th>
      <th>Original forward rate</th>
      <th>Implied zero rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>March 9th, 2017</td>
      <td>0.002534</td>
      <td>0.002534</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2018</td>
      <td>0.002923</td>
      <td>0.002923</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2019</td>
      <td>0.003743</td>
      <td>0.003743</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2020</td>
      <td>0.004472</td>
      <td>0.004472</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2021</td>
      <td>0.005175</td>
      <td>0.005175</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2022</td>
      <td>0.006716</td>
      <td>0.006716</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
ql.Settings.instance().evaluationDate = future_reference

In [14]:
rates_3 = [implied_curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
pd.DataFrame(list(zip(dates, rates_2, rates_3)), columns=('Maturity', 'Before date change', 'After date change'), index=['']*6)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Maturity</th>
      <th>Before date change</th>
      <th>After date change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>March 9th, 2017</td>
      <td>0.002534</td>
      <td>0.001965</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2018</td>
      <td>0.002923</td>
      <td>0.002151</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2019</td>
      <td>0.003743</td>
      <td>0.002535</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2020</td>
      <td>0.004472</td>
      <td>0.003208</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2021</td>
      <td>0.005175</td>
      <td>0.003883</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2022</td>
      <td>0.006716</td>
      <td>0.004558</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
ql.Settings.instance().evaluationDate = future_reference
plot_curve((curve, '-'))

In [16]:
rates_1 = [curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
rates_2 = [implied_curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
pd.DataFrame(list(zip(dates, rates_1, rates_2)), columns=('Maturity', 'Original forward rate', 'Implied zero rate'), index=['']*6)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Maturity</th>
      <th>Original forward rate</th>
      <th>Implied zero rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>March 9th, 2017</td>
      <td>0.001965</td>
      <td>0.001965</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2018</td>
      <td>0.002151</td>
      <td>0.002151</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2019</td>
      <td>0.002535</td>
      <td>0.002535</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2020</td>
      <td>0.003208</td>
      <td>0.003208</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2021</td>
      <td>0.003883</td>
      <td>0.003883</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2022</td>
      <td>0.004558</td>
      <td>0.004558</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
ql.Settings.instance().evaluationDate = today

In [18]:
curve.nodes()

((Date(9,3,2016), 0.001954693606572509),
 (Date(12,9,2016), 0.001954693606572509),
 (Date(12,3,2018), 0.002536800732553941),
 (Date(11,3,2021), 0.004572804156623577),
 (Date(11,3,2026), 0.01152478361180485),
 (Date(11,3,2031), 0.01615156507336213))

In [19]:
node_dates, node_rates = zip(*curve.nodes())
frozen_curve = ql.ZeroCurve(node_dates, node_rates, curve.dayCounter())

In [20]:
plot_curve((frozen_curve, '-'))

In [21]:
implied_curve = ql.ImpliedTermStructure(ql.YieldTermStructureHandle(frozen_curve), future_reference)

In [22]:
ql.Settings.instance().evaluationDate = future_reference
plot_curve((frozen_curve, '-'), (implied_curve, 'o'))

In [23]:
rates_1 = [frozen_curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
rates_2 = [frozen_curve.forwardRate(future_reference, d, ql.Actual360(), ql.Continuous).rate() for d in dates]
rates_3 = [implied_curve.zeroRate(d, ql.Actual360(), ql.Continuous).rate() for d in dates]
pd.DataFrame(list(zip(dates, rates_1, rates_2, rates_3)), columns=('Maturity', 'Original zero rate', 'Original forward rate', 'Implied zero rate'), index=['']*6)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Maturity</th>
      <th>Original zero rate</th>
      <th>Original forward rate</th>
      <th>Implied zero rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td>March 9th, 2017</td>
      <td>0.002144</td>
      <td>0.002534</td>
      <td>0.002534</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2018</td>
      <td>0.002534</td>
      <td>0.002923</td>
      <td>0.002923</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2019</td>
      <td>0.003210</td>
      <td>0.003743</td>
      <td>0.003743</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2020</td>
      <td>0.003890</td>
      <td>0.004472</td>
      <td>0.004472</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2021</td>
      <td>0.004569</td>
      <td>0.005175</td>
      <td>0.005175</td>
    </tr>
    <tr>
      <th></th>
      <td>March 9th, 2022</td>
      <td>0.005955</td>
      <td>0.006716</td>
      <td>0.006716</td>
    </tr>
  </tbody>
</table>
</div>