In [1]:
import QuantLib as ql
import pandas as pd

In [2]:
today = ql.Date(5, ql.January, 2010)
ql.Settings.instance().evaluationDate = today

discounting_curve = ql.RelinkableYieldTermStructureHandle()
forecasting_curve = ql.RelinkableYieldTermStructureHandle()

index = ql.USDLibor(ql.Period(3, ql.Months), forecasting_curve)

settlement_days = 0
calendar = ql.NullCalendar()

face_amount = 100.0
schedule = ql.Schedule(today, today+ql.Period(4, ql.Years), ql.Period(3, ql.Months), calendar, ql.Unadjusted, ql.Unadjusted, ql.DateGeneration.Forward, False)

bond = ql.FloatingRateBond(settlement_days, face_amount, schedule, index, ql.Thirty360(), ql.Unadjusted, fixingDays=0)

bond.setPricingEngine(ql.DiscountingBondEngine(discounting_curve))

In [3]:
flat_rate = ql.FlatForward(today, 0.10, ql.Thirty360(), ql.Compounded, ql.Quarterly)
forecasting_curve.linkTo(flat_rate)
discounting_curve.linkTo(flat_rate)

In [4]:
print(bond.cleanPrice())

99.5433545426823

In [4]:
print(flat_rate.dayCounter())
print(ql.as_coupon(bond.cashflows()[0]).dayCounter())
print(index.dayCounter())

In [7]:
coupons = [ql.as_coupon(c) for c in bond.cashflows()[:-1]]
pd.DataFrame([(c.date(), c.rate(), c.accrualPeriod()) for c in coupons], columns=('Date', 'Rate', 'Accrual period'), index=range(1, len(coupons)+1))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Rate</th>
      <th>Accrual period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>April 5th, 2010</td>
      <td>0.100014</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>July 5th, 2010</td>
      <td>0.098901</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>3</th>
      <td>October 5th, 2010</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>January 5th, 2011</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>5</th>
      <td>April 5th, 2011</td>
      <td>0.100000</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>6</th>
      <td>July 5th, 2011</td>
      <td>0.098901</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>October 5th, 2011</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>8</th>
      <td>January 5th, 2012</td>
      <td>0.097899</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>9</th>
      <td>April 5th, 2012</td>
      <td>0.098952</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>10</th>
      <td>July 5th, 2012</td>
      <td>0.098849</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>11</th>
      <td>October 5th, 2012</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>12</th>
      <td>January 5th, 2013</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>13</th>
      <td>April 5th, 2013</td>
      <td>0.100014</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>14</th>
      <td>July 5th, 2013</td>
      <td>0.098901</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>15</th>
      <td>October 5th, 2013</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>16</th>
      <td>January 5th, 2014</td>
      <td>0.097826</td>
      <td>0.25</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
bond = ql.FloatingRateBond(settlement_days, face_amount, schedule, index, ql.Actual360(), ql.Unadjusted, fixingDays=0)
bond.setPricingEngine(ql.DiscountingBondEngine(discounting_curve))

In [9]:
flat_rate_2 = ql.FlatForward(today, 0.10, ql.Actual360(), ql.Compounded, ql.Quarterly)
forecasting_curve.linkTo(flat_rate_2)
discounting_curve.linkTo(flat_rate_2)

In [10]:
print(bond.cleanPrice())

100.00117521248728

In [11]:
coupons = [ql.as_coupon(c) for c in bond.cashflows()[:-1]]
pd.DataFrame([(c.date(), c.rate(), c.accrualPeriod()) for c in coupons], columns=('Date', 'Rate', 'Accrual period'), index=range(1, len(coupons)+1))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Rate</th>
      <th>Accrual period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>April 5th, 2010</td>
      <td>0.100014</td>
      <td>0.250000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>July 5th, 2010</td>
      <td>0.100014</td>
      <td>0.252778</td>
    </tr>
    <tr>
      <th>3</th>
      <td>October 5th, 2010</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>4</th>
      <td>January 5th, 2011</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>5</th>
      <td>April 5th, 2011</td>
      <td>0.100000</td>
      <td>0.250000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>July 5th, 2011</td>
      <td>0.100014</td>
      <td>0.252778</td>
    </tr>
    <tr>
      <th>7</th>
      <td>October 5th, 2011</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>8</th>
      <td>January 5th, 2012</td>
      <td>0.100055</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>9</th>
      <td>April 5th, 2012</td>
      <td>0.100041</td>
      <td>0.252778</td>
    </tr>
    <tr>
      <th>10</th>
      <td>July 5th, 2012</td>
      <td>0.099986</td>
      <td>0.252778</td>
    </tr>
    <tr>
      <th>11</th>
      <td>October 5th, 2012</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>12</th>
      <td>January 5th, 2013</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>13</th>
      <td>April 5th, 2013</td>
      <td>0.100014</td>
      <td>0.250000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>July 5th, 2013</td>
      <td>0.100014</td>
      <td>0.252778</td>
    </tr>
    <tr>
      <th>15</th>
      <td>October 5th, 2013</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
    <tr>
      <th>16</th>
      <td>January 5th, 2014</td>
      <td>0.100028</td>
      <td>0.255556</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
index = ql.IborIndex('Mock Libor', ql.Period(3, ql.Months), 0, ql.USDCurrency(), ql.NullCalendar(), ql.Unadjusted, False, ql.Thirty360(), forecasting_curve)

bond = ql.FloatingRateBond(settlement_days, face_amount, schedule, index, ql.Thirty360(), ql.Unadjusted, fixingDays=0)

bond.setPricingEngine(ql.DiscountingBondEngine(discounting_curve))

In [13]:
forecasting_curve.linkTo(flat_rate)
discounting_curve.linkTo(flat_rate)

In [14]:
print(bond.cleanPrice())

100.00000000000001

In [15]:
coupons = [ql.as_coupon(c) for c in bond.cashflows()[:-1]]
pd.DataFrame([(c.date(), c.rate(), c.accrualPeriod()) for c in coupons], columns=('Date', 'Rate', 'Accrual period'), index=range(1, len(coupons)+1))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Rate</th>
      <th>Accrual period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>April 5th, 2010</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>July 5th, 2010</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>3</th>
      <td>October 5th, 2010</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>January 5th, 2011</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>5</th>
      <td>April 5th, 2011</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>6</th>
      <td>July 5th, 2011</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>7</th>
      <td>October 5th, 2011</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>8</th>
      <td>January 5th, 2012</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>9</th>
      <td>April 5th, 2012</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>10</th>
      <td>July 5th, 2012</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>11</th>
      <td>October 5th, 2012</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>12</th>
      <td>January 5th, 2013</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>13</th>
      <td>April 5th, 2013</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>14</th>
      <td>July 5th, 2013</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>15</th>
      <td>October 5th, 2013</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>16</th>
      <td>January 5th, 2014</td>
      <td>0.1</td>
      <td>0.25</td>
    </tr>
  </tbody>
</table>
</div>